@charset "UTF-8";
body h1 {
    color: #FFFEFE;
    text-shadow: 0px 0px;
    font-style: normal;
    font-variant: normal;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
body h2 {
    color: #FFFFFF;
}
